In [1]:
import Fish_data

In [2]:
f = Fish_data.Fish()

In [3]:
fish_data = f.get_fish_data()
water_data = f.get_water_data()

In [4]:
fish_data.head()

,FishID,Date,TREND,Gear,Species,Sex,Length,Mass,Ktl,Relative weight,...,parasite,misc 1 text,misc 2 num,misc 3 text,misc 4 num,Site,KFL,Day,Month,Year
0,19710001,1971-03-09 00:00:00,1,GN,LMB,NaN,263,250.0,1.37,0.0,...,NaN,NaN,NaN,NaN,NaN,RN,0.0,9.0,3.0,1971.0
1,19710002,1971-03-09 00:00:00,1,GN,LMB,NaN,348,700.0,1.66,0.0,...,NaN,NaN,NaN,NaN,NaN,RN,0.0,9.0,3.0,1971.0
2,19710003,1971-03-09 00:00:00,1,GN,LMB,NaN,332,555.0,1.51,0.0,...,NaN,NaN,NaN,NaN,NaN,RN,NaN,9.0,3.0,1971.0
3,19710004,1971-03-09 00:00:00,1,GN,LMB,NaN,350,720.0,1.67,0.0,...,NaN,NaN,NaN,NaN,NaN,RN,NaN,9.0,3.0,1971.0
4,19710005,1971-03-09 00:00:00,1,GN,LMB,NaN,300,455.0,1.68,0.0,...,NaN,NaN,NaN,NaN,NaN,RN,NaN,9.0,3.0,1971.0

In [5]:
fish_data.columns

Index(['FishID', 'Date', 'TREND', 'Gear', 'Species', 'Sex', 'Length', 'Mass',
       'Ktl', 'Relative weight', 'Maturity', 'Age structure', 'stomach',
       'gonads', 'fat_index', 'parasite', 'misc 1 text', 'misc 2 num',
       'misc 3 text', 'misc 4 num', 'Site', 'KFL', 'Day', 'Month', 'Year'],
      dtype='object')

In [6]:
fish_data["Species"].unique()

array(['LMB', 'WAE', 'BLC', 'RBT', 'CRP', 'CCF', 'FMS', 'BGL', 'GSF',
       'BNT', 'YBH', 'BTC', 'BBH', 'WHS', 'CPM', 'CTT', 'RZB', 'CCT',
       'STB', 'BFL', 'RSH', 'blc', 'BM,', 'OTH', 'RLC', 'NPK', 'SMB',
       'FLM', 'BRT', 'BCL', 'BTR', 'BG', 'SFH', 'KOK', 'TFS', 'RDS',
       'ccf', 'BLG', 'lmb', 'CC', 'BC', 'YGH', 'WTC', 'WHC', 'GZD', 'WCP',
       'stb', 'tfs', 'gsf', 'smb', 'bgl', 'rsh', '70', 'gzd', 'cct',
       'tfs`', 'snb', 'blg', 'sj', 'sgf', 'gh', 'ybh', 'crp', 'wae', 'u',
       'gssf', ' bgl', 'bcl', 'cat', 'dtb', 'awe', 'el', 'gdf', ' gsf',
       'amb', 'gnf', 'bbh', 'wal', 'gsh', 'we', 'fms', 'rzb', 'was',
       'wea', 'gbl', 'cpm', 'gaf', 'gaz', 'carp', 'GLB', 'GZDL', 'GAF',
       'GSDF', 'SNB', 'CARP', 'GBL', 'GZC', 'HBC', 'RBS'], dtype=object)

LMB: Large mouth bass
SMB: Small mouth bass
STB: Stickle back

In [7]:
water_data.head()

,YEAR,MAX ELEVATION,MIN ELEVATION,DIFFERENCE,MAX AIR TEMP,MIN AIR TEMP,MAX WATER TEMP,MIN WATER TEMP
0,2020,3608.73,3604.42,4.31,56.0,0.0,50.0,46.0
1,2019,3621.68,3568.51,53.17,104.0,0.0,82.0,45.0
2,2018,3622.74,3581.85,40.89,106.0,18.0,80.0,47.0
3,2017,3635.80,3593.85,41.95,108.0,21.0,81.0,47.0
4,2016,3621.45,3591.14,30.31,109.0,0.0,82.0,47.0